.list{
    display: flex;
    justify-content: center;
}

#mission{
    position: absolute;
    right: 4in;
    font-size: 200%;
    top: .1in;
    color: #FFC745;
}

#tags{
    position: absolute;
    right: .2in;
    font-size: 170%;
    top: .1in;
    color: #FFC745;
}

.header{
    display: flex;
    position: relative;
    background-color: #007a78 ;
    justify-content: left;
}

h1 {
    text-align: left;
    font-size: 300%;
    color: #FFC745;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

img{
    padding-top: 10px;
    padding-left: 10px;
}

body{
    background-color: #FFC745;
}