#heading {
    color: #f1f1f1;
}

#tags:hover {
    background-color: blue;
}

h3 {
    text-align: center;
    font-size: xx-large;
}

h4 {
    text-align: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#mission {
    position: absolute;
    right: 4in;
    font-size: 200%;
    top: .1in;
    color: #FFC745;
}

#tags {
    position: absolute;
    right: .2in;
    font-size: 170%;
    top: .1in;
    color: #FFC745;
}


.PictureHeading {
    font-size: x-large;
    text-align: justify;
}

img {
    padding-top: 10px;
    padding-left: 10px;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1.5in;
    text-align: center;

}

#link-container:hover {
    background-color: blue;
}

.About-Us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1.5in;

}



.flexbox-item {
    width: 3in;
    height: 3in;
    border: 3px solid #007a78;
    padding: 10px;
    margin: 10px;

}

.link-header {
    text-align: center;

}


body {
    background-color: #FFC745;
}


/* Grocery List CSS Below */

/* .list {
    display: flex;
    justify-content: center;
}

.list>div {
    margin: 5px;
} */

#search {
    width: 300px;
    margin: auto;
}

#mission {
    position: absolute;
    right: 4in;
    font-size: 200%;
    top: .1in;
    color: #FFC745;
}

#tags {
    position: absolute;
    right: .2in;
    font-size: 170%;
    top: .1in;
    color: #FFC745;
}

.header {
    display: flex;
    position: relative;
    background-color: #007a78;
    justify-content: left;
}

h1 {
    text-align: left;
    font-size: 300%;
    color: #FFC745;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

img {
    padding-top: 10px;
    padding-left: 10px;
}

body {
    background-color: #FFC745;
}

#groc {
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007a78;
    position: relative;
    left: 6.6in;
}

#groceryList {
    width: 500px;
    height: 550px;
    color: #007a78;
    font-size: larger;
}

#buttons {
    display: flex;
    padding-top: 35px;
    justify-content: center;
}

#save,
#clear {
    margin: 5px;
    width: 120px;
    font-size: larger;
    position: relative;
    right: 2.5in;
}

#enterName {
    height: 20px;
    width: 300px;
    margin-left: 20px;
}

#nameID {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

/* ================================================ HEADER ================================================ */
.header_class {
    background-color: #007a78;
    background-size: 180%;
    background-position-x: 30%;
    background-position-y: 65%;


    padding: 10px;
    padding-top: 25px;
    margin: 0px;
    margin-bottom: 10px;

    color: var(--silver-sand);
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-bottom: solid 5px var(yellow);
}

#title>h1 {
    margin: 5px;
    text-shadow: 1px 2px var(--old-lavender);
    color: white;
}

#menu {
    display: none;
}

/* ================================================ USER BUTTON/DROP DOWN ================================================ */
#user {
    margin-right: 13.2in;
    text-shadow: .5px 1px var(--old-lavender);
    border-radius: 6px;
}

.icon {
    border-radius: 23px;
    background-color: #3c6792;

    padding: 4px;
    width: 38px;
    background-color: rgba(33, 96, 119, .8)
        /*var(--blue-sapphire)*/
    ;
}

#welcome {
    margin-right: 10px;
}

#user>a {
    display: flex;
    align-items: center;
}

#user:hover {
    background-color: rgba(63, 49, 71, 0.5);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
        inset -1px -1px 2px rgb(154, 162, 170);
    color: rgb(196, 174, 211);
    text-shadow: none;
}

a#user {
    color: inherit;
    text-decoration: none;
}

.h2 {
    color: white;
}


.dropdown {
    position: relative;
    left: 12in;
    bottom: 1.3in;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ================================================ NAV BAR ================================================ */

nav {
    margin-left: 5px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

nav>* {
    padding: 5px;
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    margin-right: 10px;
}

nav>*:hover {
    background-color: rgba(63, 49, 71, 0.5);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
        inset -1px -1px 2px rgb(116, 121, 126);
    color: rgb(196, 174, 211);
}

body {
    background-color: rgba(219, 217, 95, 0.171);
}
#beginner {
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007a78;
    text-align: center;
}
#inter {
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007a78;
    text-align: center;
}
#expert {
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007a78;
    text-align: center;
}
#workoutsearch{
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007a78;
    text-align: center;

}
  
  select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }
  
  select:focus{
    outline:none;
  }
  .bodybtn {
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: center;
  

  }
  .search {
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: center;
    
  }